/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
*{
  font-family: sans-serif;
}

.title {
  font-size: 28px;
  width: 100%;
  height: 60px;
  margin: 0;
  background-color: #8b0000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-header {__
  margin-top: 20px;
  font-size: 18px;
  font-weight: 100;
  color: #909090;
  margin-left: 10px;
}

#map {
  height: 55vh;
  width: calc(100vw-20px);
  margin-left: 10px;
  margin-right: 10px;
/*  border-style: solid;
  border-width: 2px;
  border-radius: 20px;*/
}

.exposures {
  margin-left: 10px;
  margin-right: 10px;
}

.recommendations {
  margin-left: 10px;
  margin-right: 10px;
}

.friend {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-radius: 20px;*/
  background-color: white;
  padding: 5px;
  padding-bottom: 10px;
}

.notif__title {
	font-weight: bold;
	font-size: 18px;
}

.notif__text {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	color: white;
	background-color: #8b0000;
	padding: 20px 10px;
	margin-top: 5px;
	font-size: 14px;
	border-radius: 8px;
}

#brandon {
  display: none
}

#alex {
  display: none
}

#ian {
  display: none
}

#kishan {
  display: none
}

#matt {
  display: none
}

#hospital1 {
  display: none
}

#hospital2 {
  display: none
}